@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

/*
    Colour Scheme
    Classic Blue: #0f4c81
    Provenence: #658DC6
    Baby Blue: #b5c7d3
    Monument: #84898c
    Stucco: #a58d7f
    Peach Quartz: #f5b895
    Cornhusk: #f2d6ae
    Dark Brown: rgb(52,35,30);
*/

#all {
    background-color: #ffeacd;
    min-height: 100vh;
    font-size: calc(10px + 0.7vmin);
    color: #463c33;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Heebo', sans-serif;
    font-size: calc(4.5px + 0.1vmin);
}

header {
    background-color: #b46b0460;
    font-size: calc(4.5px + 0.1vmin);
    height: 1em;
    min-height: 1em;
    display: flex;
    width: 100%;
    border: 1em;
    border-bottom: 0.05em solid rgb(52, 35, 30);
    padding: 1em 1em 1em 1em;
}

nav {
    display: flex;
    width: auto;
    align-content: flex-start;
    justify-content: center;
    font-size: font-size: calc(4.5px + 0.1vmin);
    padding-left: 1em;
    padding-right: 1em;
}

#logo {
    width: 1.5em;
    height: 1.5em;
    align-content: flex-start;
    justify-content: center;
}